@using ecommerceProjectMVC.viewModel

@model ProductDetailsViewModel
	
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Fruitikha";
}

<div class="breadcrumb-section breadcrumb-bg" style="height:60px">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Product</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- single product -->
	<div class="single-product mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<div class="single-product-img">
						<img src="@Model.product.Image" alt="">
					</div>
				</div>
				<div class="col-md-7">
					<div class="single-product-content">
						<h3 id="@Model.product.ProductId">@Model.product.ProductName</h3>
						<p class="single-product-pricing"><span>Per Kg</span> @Model.product.Price</p>
						<p>@Model.product.Description</p>
						<div class="single-product-form">
							<form>
								<input asp-for="@Model.cart.Quantity" value="" id="cart_quantity" class="form-control"/>
								<input type="submit" onclick="addToCart()" value="Add To Cart" class="btn btn-primary"/>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end single product -->


	<script>
			var counter = document.getElementById("counter");
			
			//var price = @Model.product.Price;
			//var totalPrice = (price*quantity);
			
		var id = @Model.cart.ProductId;
		var arr = [];
		var items = {};

		function addToCart(){
		var quantity = document.getElementById("cart_quantity").value;
			items = {
				id,
				quantity,
			}
			//console.log();
			var localArr = JSON.parse(localStorage.getItem('cartContent'));
			if(localArr!=null){
				arr = localArr;
				for(let i = 0; i<arr.length; i++){
				if(localArr[i].id==items.id){
					localArr[i].quantity = parseInt(items.quantity)+parseInt(localArr[i].quantity);
					localStorage.setItem("cartContent",JSON.stringify(arr));
					return;
				}
			}
			}
			
			arr.push(items)
			localStorage.setItem("cartContent",JSON.stringify(arr));
			//localStorage.clear()
			if(quantity){
				counter.innerHTML ++;
			}
		}
	</script>